/* Variables */
$purple: #854dff;
$light-red: #ff5959;
$white: #ffffff;
$off-white: #f0f0f0;
$light-grey: #dbdbdb;
$smokey-grey: #716f6f;
$off-black: #141414;

/* Typography */
$heading-large: 6.5rem;
$heading-medium: 2rem;
$heading-small: 0.875rem;
$body: 0.875rem;
$small: 0.75rem;
